.jumbotron {
	//max-width: $max-page-width;
	margin: 0 auto;
	padding: 2em;
	text-align: center;

	background-color: $color-white;

		
	h2, p.h2 {
		font-family: $font-header;
		color: $color-main;
		font-size: 2.6em;
		font-weight: 700;
		text-transform: uppercase;
		z-index: 50;
	}

	h2 {
		text-transform: uppercase;

		@include screen-sm-only {
			font-size: 2rem;
			max-width: 24em;
		}

		@include screen-md-only {
			font-size: 2.25rem;
			max-width: 24em;
		}
	}

	& > div {
		max-width: 60em;
		margin: 0 auto;

		p {
			font-family: $font-header;
			color: $color-acc1;
			font-size: 1.75em;
			font-weight: 400;
		}
	}
	
	&.banner {
		margin-top: 5%;
		margin-bottom: 5%;
	}
		
	&.top {
		background: rgba($color-acc1, 0.8);
		//background: $color-acc1;
		position: relative;
		display: flex;
		overflow: hidden;
		min-height: 500px;

		@include small {
			min-height: auto;
		}


		& > div {
			align-self: flex-end;
			//padding: 10rem 2rem 1rem;
			p{
				text-align: left;
			}
			
		}

		&::after {
			content: "";
			position: absolute;
			top: 0; left: 0; bottom:0; right: 0;
			z-index: -1;
			background-position: center;
			background-size: cover;
			//opacity: .5;

		}
	}	
}

html {

	&#home {
		.jumbotron.top{
			& > div {
				@include screen-sm {
					align-self: center;
					margin-top: 6em;
				}

				@include screen-lg {
					align-self: flex-end;
					margin-bottom: 3em;
				}
				
			}

			&::after{
				background-image: url('./images/home-banner.jpg');
				
				@include small {
					background-image: none;
				}
			}
		}
	}

	&#about-us,
	&#chairperson-letter,
	&#by-laws {

		.jumbotron.top {
			& > div {
				@include screen-sm {
					position: absolute;
					top: 0; left: 1em;
					max-width: 28em;
					text-align: left;
				}
			}

			&::after{
				background-image: url('./images/about-banner.jpg');
				background-position: center top;
				
				@include small {
						background-image: none;
					}
			}
		}
	}
	
	&#host-a-student {
		
		.jumbotron.top{
			& > div {
				@include screen-sm {
					align-self: center;

					h2 {
						margin-top: 4em;
					}
				}

				@include screen-lg {
					align-self: flex-end;
					h2 {
						margin-bottom: 1em;
					}
				}
				
			}

			&::after{
				background-image: url('./images/host-student-banner.jpg');
				background-position: center top;
				
				@include small {
						background-image: none;
					}
			}
		}
	}
	
	&#meet-our-students,
	&#guiding-principles {

		.jumbotron.top{
			& > div {
				@include screen-sm {
					position: absolute;
					top: 0;
					left: 1em;
					text-align: left;
				}
			}

			&::after{
				background-image: url('./images/meet-student-banner.jpg');
				background-position: center top;
				@include small {
					background-image: none;
				}
			}
		}
	}
}